:root {
  --primary: #1183e7;
  --light: #f3f6f8;
  --dark: #265d87;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: poppins, sans-serif;
  overflow-x: hidden;
  background-color: var(--light);
  font-size: 16px;
  color: #333;
}

.center {
  margin-left: 8%;
  margin-right: 8%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5rem;
  word-spacing: 0.1rem;
}

article {
  padding-top: 6rem;
}

/*** Header & Navbar ***/
header {
  width: 100%;
  background-color: var(--primary);
  background-image: url(../img/wave1.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.sidenav {
  background-color: var(--primary);
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  left: 0;
  padding-top: 6rem;
}

.sidenav a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

.sidenav .closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
}

.sidenav ul {
  list-style: none;
}

span.bars {
  display: none;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8%;
  background-color: var(--primary);
  position: fixed;
  z-index: 99;
}

.logo h1 a {
  font-family: poppins-bold;
  color: var(--light);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

li.menu a {
  padding: 3px 6px;
  color: var(--light);
  opacity: 0.7;
}

li.menu a:hover {
  opacity: 1;
  transition: all 0.3 ease;
}

/*** Navbar Scroll ***/
.scroll {
  background-color: var(--light);
  box-shadow: 0 5px 14px rgba(20, 25, 180, 0.2);
}

.scroll .logo h1 a {
  font-family: poppins-bold;
  color: var(--primary);
}

.scroll li.menu a {
  padding: 3px 6px;
  color: var(--primary);
}

.scroll li.menu a:hover {
  color: var(--dark);
  transition: all 0.3 ease;
}

/*** Button ***/
button {
  padding: 6px 18px;
  border-radius: 32px;
  font-family: poppins;
  opacity: 0.7;
  cursor: pointer;
  font-size: inherit;
}

button.start {
  background-color: var(--light);
  border: 1px solid var(--primary);
  opacity: 1;
  color: var(--primary);
  padding: 16px 40px;
  margin-bottom: 24px;
  box-shadow: 0 5px 14px rgba(4, 8, 121, 0.3);
}

button.start:hover {
  box-shadow: none;
  background-color: var(--primary);
  border: 1px solid var(--light);
  color: var(--light);
  transition: all 0.3 ease;
}

button.secondary {
  background-color: transparent;
  border: 2px solid var(--light);
  color: var(--light);
}

button.secondary:hover {
  opacity: 1;
  background-color: var(--light);
  color: var(--primary);
  transition: all 0.3 ease;
}

.scroll button.secondary {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.scroll button.secondary:hover {
  opacity: 1;
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.3 ease;
}

button.primary {
  opacity: 1;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--light);
  box-shadow: 0 5px 14px rgba(4, 8, 121, 0.3);
}

button.primary:hover {
  background-color: var(--light);
  color: var(--primary);
  transition: all 0.3 ease;
  box-shadow: none;
}

/*** Banner ***/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.banner-text h1 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  line-height: 3.5rem;
  font-family: poppins-bold;
  color: var(--light);
  margin-bottom: 12px;
}

.banner-text p {
  margin-bottom: 18px;
  color: var(--light);
}
.banner-icon img {
  width: 30rem;
}

/*** Main ***/
.title {
  display: inline-block;
  border-radius: 32px;
  border: 1px solid var(--dark);
  font-size: 14px;
  opacity: 0.8;
  color: var(--primary);
  padding: 0 20px;
  /* margin-top: 24px; */
  margin-bottom: 6px;
}

main h2 {
  margin-bottom: 12px;
  font-family: poppins-bold;
}

/*** About ***/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about img {
  max-width: 24rem;
  margin: auto;
}

.about p,
.profile p {
  margin-bottom: 18px;
}

/*** Features ***/
.features {
  background-color: var(--primary);
  padding: 1rem 0;
  margin-bottom: 24px;
}

.features-title {
  text-align: center;
}

.features-icon {
  display: flex;
  justify-content: center;
}

.features-icon img {
  width: 5rem;
  height: 5rem;
}

section {
  padding: 18px;
  color: var(--light);
  text-align: center;
  width: 100%;
}

section img {
  max-width: 140px;
}

section h4 {
  margin-bottom: 6px;
}

.features section:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transition: all 0.3 ease;
}

/*** Service ***/
.service-icon {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.service-icon section {
  color: #333;
  border: 1px solid rgba(20, 25, 180, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 14px rgba(20, 25, 180, 0.2);
}

.service-icon section:hover {
  color: #333;
  box-shadow: none;
  border-color: var(--primary);
}

/*** Profile ***/
.profile {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  text-align: center;
  background: linear-gradient(-45deg, #1183e7, #3ea1ec, #265d87);
  background: -webkit-linear-gradient(-45deg, #1183e7, #3ea1ec, #265d87);
  background: -o-linear-gradient(-45deg, #1183e7, #3ea1ec, #265d87);
  background: -moz-linear-gradient(-45deg, #1183e7, #3ea1ec, #265d87);
  color: var(--light);
  padding: 1.5rem 1rem;
  width: 100%;
}

.card:hover {
  background: linear-gradient(-45deg, #3495ea, #3ea1ec, #265d87);
  background: -webkit-linear-gradient(-45deg, 3495ea, #3ea1ec, #265d87);
  background: -o-linear-gradient(-45deg, 3495ea, #3ea1ec, #265d87);
  background: -moz-linear-gradient(-45deg, 3495ea, #3ea1ec, #265d87);
}

hr {
  margin: 12px 0;
}
.card img {
  border-radius: 50%;
  box-shadow: 0 5px 14px rgba(20, 25, 180, 0.2);
}

.card-icon {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

a.circle {
  border: 1px solid var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.card-icon img {
  width: 2rem;
  height: 2rem;
}
.card-text {
  text-align: left;
}

.card-text h5 {
  margin: 12px 0 3px 0;
}

/*** Contact ***/
.bg-contact {
  width: 100%;
  background-image: url(../img/wave2.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}

form,
.card {
  padding: 1.5rem;
  box-shadow: 0 5px 14px rgba(20, 25, 180, 0.2);
  border-radius: 15px;
  width: 100%;
}
form {
  background-color: #aed4f1;
}

label {
  display: block;
  margin-top: 12px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid var(--dark);
  border-radius: 32px;
  width: 100%;
}

textarea {
  height: 120px;
  margin-bottom: 12px;
  font-size: inherit;
}

/*** Footer ***/
footer {
  background-color: var(--primary);
  padding: 1rem 0;
  text-align: center;
  color: var(--light);
  border-top: 1px solid var(--light);
}

/*** Responsive ***/
@media (max-width: 768px) {
  .logo h1 a {
    font-size: 1.5rem;
  }

  span.bars {
    display: block;
  }

  nav ul {
    display: none;
  }

  .banner {
    height: auto;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    text-align: center;
  }

  .banner-icon img {
    max-width: 18rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about img {
    max-width: 15rem;
  }

  .features-icon,
  .service-icon,
  .contact,
  .profile {
    flex-wrap: wrap;
  }
}
